[data-vuetify-reheadline] .v-application--wrap {
    min-height: initial !important;
}

[data-vuetify-reheadline] .custom-sidebar {
    position: fixed;
    width: 400px !important;
    height: 100vh;
    right: 0px;
    z-index: 99999;
    overflow: auto;
    top: 0px;
    /* width: initial !important; */
}

.headline-clickable {
    cursor: pointer;
    background-color: #F0F4C3    ;
}

.new-alt-headline {
    cursor: pointer;
    text-decoration-style: dashed;
    text-decoration-line: underline;
    color: #9E9D24;
}

.headline-modified {
    font-size: 70%;
}

/* [data-vuetify] .v-badge__badge {
    inset: calc(100% - 10px) auto auto calc(100% - 10px) !important;
} */

.interactable {
    cursor: pointer;
}

.rounded-edit-button {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    margin-left: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px black
}

.title-background-light {
    background-color: #F0F4C3;
}

.title-background-dark {
    background-color: #AFB42B;
}

[data-vuetify-reheadline] .v-badge__badge .v-icon {
    font-size: 17px !important;
    inset: calc(100% - 14px) auto auto calc(100% - 14px) !important;
    color: #827717  !important;
}

[data-vuetify-reheadline] .v-icon.v-icon {
    width: 15px !important;
}


[data-vuetify-reheadline] .v-dialog__content {
    z-index: 9999 !important;
}